# Ignore the forwarding secret and future secrets
*.secret
*_secret
# Ignore the contents of local - larger dirs like the Worlds, Schematics, and Databases should be copied over another way
# This is also now the data dir for new servers, and this'll be ignored by default.
local/**

# Ignore the server-icon.png inside /servers, duplicated file, defined in docker-compose.yml
#servers/**/server-icon.png
# Ignore old project files and dirs with this suffix
*.old